# Commit everything
function commit() {
    commitMessage="$1"

    if [ "$commitMessage" = "" ]; then
        commitMessage="WIP"
    fi

    git add .
    eval "git commit -a -m '${commitMessage}'"
}

# Create a new MySQL database
function createdb() {
    if [ $# != 1 ]; then
        echo "Usage: createdb [dbname]";
    else
        mysql -u root -e "CREATE DATABASE $1 CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci"
    fi
}

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Finish the current HubFlow feature
#function xff() {
#  IFS='/' read -r array <<< $(git symbolic-ref -q HEAD)
#  for element in "${array[@]}"
#  do
#    echo "$element"
#  done
#}
